<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>__MODULE__</string>
	<key>CFBundleIdentifier</key>
	<string>__BUNDLE__.__MODULE__</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleVersion</key>
	<string>__VERSION__</string>
	<key>OSBundleCompatibleVersion</key>
	<string>__VERSION__</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>HollywoodInterruptController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>__BUNDLE__.__MODULE__</string>
			<key>IOClass</key>
			<string>HollywoodInterruptController</string>
			<key>IONameMatch</key>
			<string>NTDOY,hlwd-pic</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
		</dict>
		<key>LatteInterruptController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>__BUNDLE__.__MODULE__</string>
			<key>IOClass</key>
			<string>LatteInterruptController</string>
			<key>IONameMatch</key>
			<string>NTDOY,latte-pic</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
		</dict>
		<key>WiiCafeIPC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>__BUNDLE__.__MODULE__</string>
			<key>IOClass</key>
			<string>WiiCafeIPC</string>
			<key>IONameMatch</key>
			<string>NTDOY,ipc</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
		</dict>
		<key>WiiCPU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>__BUNDLE__.__MODULE__</string>
			<key>IOClass</key>
			<string>WiiCPU</string>
			<key>IONameMatch</key>
			<string>cpu</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
		</dict>
		<key>WiiInterruptController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>__BUNDLE__.__MODULE__</string>
			<key>IOClass</key>
			<string>WiiInterruptController</string>
			<key>IONameMatch</key>
			<string>NTDOY,pic</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
		</dict>
		<key>WiiPE</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>__BUNDLE__.__MODULE__</string>
			<key>IOClass</key>
			<string>WiiPE</string>
			<key>IONameMatch</key>
			<array>
				<string>NTDOY,Revolution</string>
				<string>NTDOY,Cafe</string>
			</array>
			<key>IOProbeScore</key>
			<integer>5000</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformExpertDevice</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kernel.iokit</key>
		<string>1.1</string>
		<key>com.apple.kernel.libkern</key>
		<string>1.1</string>
		<key>com.apple.kernel.mach</key>
		<string>1.1</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
